charset-normalizer==3.4.7
certifi==2026.4.22
idna==3.13
markdown-it-py==4.2.0
mdurl==0.1.2
pycairo==1.29.0
Pygments==2.20.0
PyGObject==3.56.2
python-dotenv==1.2.2
requests==2.33.1
rich==15.0.0
urllib3==2.7.0
