charset-normalizer==3.5.1
certifi==2026.7.22
idna==3.19
markdown-it-py==4.2.0
mdurl==0.1.2
pycairo==1.29.1
Pygments==2.21.0
PyGObject==3.56.3
python-dotenv==1.2.3
requests==2.34.2
rich==15.0.0
urllib3==2.7.0
